.statHeader{

display:flex;

justify-content:space-between;

align-items:center;

}

.statTitle{

font-size:14px;

color:#64748B;

margin-bottom:10px;

}

.statValue{

font-size:34px;

font-weight:700;

color:#0F172A;

}

.statIcon{

font-size:34px;

color:#2563EB;

}
