.pageContainer {

    display: flex;

    flex-direction: column;

    gap: 24px;

    padding: 28px;

}

@media(max-width:700px) {

    .pageContainer {

        padding: 16px;

        gap: 16px;

    }

}