.uploadZone{

    border:2px dashed #CBD5E1;

    border-radius:16px;

    padding:48px;

    background:#F8FAFC;

    text-align:center;

    cursor:pointer;

    transition:all .25s ease;

}

.uploadZone:hover{

    border-color:#2563EB;

    background:#EFF6FF;

}

.uploadZone.active{

    border-color:#2563EB;

    background:#DBEAFE;

}

.uploadIcon{

    font-size:56px;

    color:#2563EB;

}

.uploadZone h3{

    margin-top:18px;

    font-size:20px;

    font-weight:600;

    color:#0F172A;

}

.uploadZone p{

    margin-top:10px;

    color:#64748B;

    font-size:14px;

}
